[user]
email = {{ .git_email }}
name = {{ .git_name }}
signingkey = {{ .git_signingkey }}

[core]
editor = /usr/bin/nvim
pager = /usr/bin/delta
autocrlf = input

[init]
defaultBranch = main

[pull]
rebase = true

[commit]
gpgsign = {{ .git_gpgsign }}

[merge]
conflictstyle = diff3

[diff]
colorMoved = default

[interactive]
diffFilter = /usr/bin/delta --color-only --features=interactive
[add.interactive]
useBuiltin = false

[delta]
navigate = true
light = false
features = decorations
[delta "interactive"]
keep-plus-minus-markers = false
[delta "decorations"]
commit-decoration-style = blue ol
commit-style = raw
file-style = omit
hunk-header-decoration-style = blue box
hunk-header-file-style = red
hunk-header-line-number-style = #067a00
hunk-header-style = file line-number syntax

[credential]
helper = /usr/lib/git-core/git-credential-libsecret
