#!/usr/bin/env bash

{{ if and (ne .chezmoi.username "root") .gui }}
# Fail on error
set -eu

# Source ~/.bash_profile
# shellcheck source=/dev/null
. ~/.bash_profile

# Enable user config for fontconfig
mkdir -p "${XDG_CONFIG_HOME}"/fontconfig/conf.d
# hash: {{ include "/usr/share/fontconfig/conf.avail/50-user.conf" | sha256sum }}
ln -sf /usr/share/fontconfig/conf.avail/50-user.conf ~/.config/fontconfig/conf.d/
{{ end }}
