#!/usr/bin/env bash

{{ if and (ne .chezmoi.username "root") .chezmoi.gui }}
# Fail on error
set -eu

# Return on missing dependencies
command -v gsettings >/dev/null 2>&1 ||
    return

gsettings set org.gnome.desktop.interface icon-theme Papirus-Dark
gsettings set org.gnome.desktop.interface color-scheme prefer-dark
gsettings set org.gnome.desktop.interface cursor-size 24
gsettings set org.gnome.desktop.interface cursor-theme phinger-cursors-dark
gsettings set org.gnome.desktop.interface gtk-theme Fluent-Dark-compact
{{ end }}
