#!/usr/bin/env bash

{{ if ne .chezmoi.username "root" }}
# Fail on error
set -eu

gsettings set org.gnome.desktop.interface icon-theme Papirus-Dark
gsettings set org.gnome.desktop.interface color-scheme prefer-dark
gsettings set org.gnome.desktop.interface cursor-size 24
gsettings set org.gnome.desktop.interface cursor-theme phinger-cursors-dark
gsettings set org.gnome.desktop.interface gtk-theme Fluent-Dark-compact
{{ end }}
