@define-color white #ebdbb2;
@define-color dark #1d2021;
@define-color primary #fd472f;
@define-color secondary #689d6a;
@define-color hint #fabd2f;

* {
  border: none;
  border-radius: 0px;
  font-family: "Hasklig";
  font-size: 12px;
  min-height: 0;
  color: @white;
}

window#waybar {
  background: @dark;
}

#workspaces,
#clock {
  font-weight: 800;
}

#tray * {
  color: @dark;
}

/* Workspace Buttons */
#workspaces button label {
  color: @secondary;
}
#workspaces button.focused label {
  color: @dark;
}
#workspaces button.focused {
  background: @secondary;
}

#clock,
#battery,
#pulseaudio,
#tray,
#idle_inhibitor {
  padding: 0 5px;
  margin: 0 5px;
}

#idle_inhibitor.activated {
  background-color: @secondary;
  color: @dark;
}

#clock {
  margin: 0;
  color: @hint;
}

#pulseaudio.muted {
  color: @primary;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}
