@define-color white #ebdbb2;
@define-color dark #1d2021;
@define-color secondary #689d6a;
@define-color extra-bg #3f5f5f;

* {
  border-radius: 3px;
  border: none;
  font-family: "Hasklig";
  font-size: 20px;
}

window {
  background-color: @dark;
  color: @white;
}

#input {
  background-color: @extra-bg;
  color: @dark;
}

#entry:selected {
  background-color: @secondary;
}
